# Enable Rewrite Engine
RewriteEngine On

# Remove .php extension for all files including subdirectories
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Redirect .php URLs to clean URLs
RewriteCond %{THE_REQUEST} "^[^ ]* /(.+)\.php "
RewriteRule ^(.*)\.php$ /$1 [L,R=301]

