@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffff;
  --secondary-color: #ff9821;
}

html {
  font-size: 62.2%;
  scroll-behavior: smooth;
  scroll-padding: 16vmax;
}

.container {
  padding: 0 !important;
  margin: 0 !important;
}

.body_section,
.background_section {
  margin: 0;
  padding: 0;
}

body .body_section {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #000 50%, #ff9924 50%);
  border-image-slice: 1;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;

}

.background_section {
  background-color: rgb(254, 231, 201);
  height: 100%;
  z-index: 10;
  box-shadow: 0rem 0.9rem 0.9rem 0.9rem rgba(1, 1, 1, 0.3);
  position: relative;
  
}

/* circle css starts here */


.circle_top {
  width: 30rem; 
  height: 30rem; 
  border-radius: 50%;
  position: absolute;
  top: -7rem;
  right: 5%;
  transform: rotate(15deg);
  z-index: -1;
}

.circle_top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      to right,
      rgb(188,177,160, 0.2) ,
      rgb(188,177,160, 0.2) ,
       0.5rem,
      transparent 0.2rem,
      transparent 0.8rem
  );
  border-radius: 50%;
}


.circle_bottom {
  display: none;
  width: 33rem; 
  height: 33rem; 
  border-radius: 50%;
  position: relative;
  left: -14%;
  bottom: -3%;
  transform: rotate(15deg);
  z-index: 10;
 
}

.circle_bottom::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      to right,
      rgb(188,177,160, 0.5) ,
      rgb(188,177,160, 0.5) ,
       0.5rem,
      transparent 0.2rem,
      transparent 0.8rem
  );
  border-radius: 50%;
}




/* Circle css ends here */

header,
main {
  padding: 0;
}

header {
  padding: 0.6rem 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.hero_section_video {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.hero_section_background {
  height: 100%;
  z-index: 9;
  background-image: linear-gradient(
    360deg,
    rgba(254, 231, 201, 100%),
    transparent
  );
}

/* Header Scroll starts */
.header_section {
  position: relative;
  overflow: hidden;
  height: 116dvw;
  text-align: left;
  
  
}

header {
  position: fixed;
  width: 94%;
  height: auto;
  top: 0;
  left: 3%;
  transition: 0.4s ease-in-out;
  z-index: 14;
  padding: 0 3.3%;
}

header.active {
  background-color:rgb(254,152,32);

}

header.active .navigation_section {
  top: 0;
  transition: .7s ease-in-out;
}

.header.top .navigation_section{
  top: 0 
}

header .navigation_section {
  padding: 0 7% 0 0 !important
}
/* Header Scroll Ends */

.dividor_hero {
  background-color: rgb(255, 176, 86);
  height: 0.2rem;
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;
  display: flex;
  justify-content: center;
}

.dividor {
  background-color: rgb(255, 176, 86);
  height: 0.2rem;
  margin: 6dvw 0vh 8dvw 0vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.dividor_header {
  background-color: rgb(255, 176, 86);
  height: 2rem;
  width: 0.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dividor_header::after {
  content: "";
  background-color: rgb(255, 176, 86);
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

/* Hero section */

.navigation_section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 4dvw;
  padding: 0 3rem;
  padding: 0rem !important;
}

.logo img {
  height: 9rem;
}

.nav_links {
  display: none;
}

.nav_links.active {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.3);
  z-index: 10;
}

.nav_links.active nav {
  width: 94%;
}

.nav_links.active nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #e2dada;
  padding: 2rem 6rem 2rem 2rem;
  border-radius: 0.4rem;
  transition: margin-right 2s 0.5s;
  margin-top: 11rem;
}

.nav_links nav ul a {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3rem;
  text-decoration: none;
  color: black;
  position: relative;
  /* border: 3px solid blue; */
  transition: 0.3s ease;
  width: fit-content;
}

.nav_links nav ul a:before {
  content: "";
  height: 0.3rem;
  width: 0;
  position: absolute;
  background: rgb(254, 231, 201, 0.5);
  bottom: 0;
  left: 0;
  border-radius: 0.4rem;
  transition: 0.3s ease;
}

.nav_links nav ul a:hover:before {
  width: 100%;
  transition: 0.8s ease-in-out;
}

.navigation_menu {
  background: url("../images/bar_icon.png") no-repeat;
  background-size: 3rem;
  background-position: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.navigation_menu.active {
  z-index: 30;
  background: url("../images//closeicon.png") no-repeat;
  background-size: 2.5rem;
  background-position: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: 0.3s ease;
}

/* main Section */

/* Hero Section */
.head_content {
  font-size: 2.4rem;
  font-weight: 400;
}

.hero_section_information {
  position: absolute;
  top: 20vh;
  z-index: 8;
}

.head_content p {
  font-weight: 700;
}

.sub_head_content {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
}

.sub_head_content span {
  font-weight: bold;
}

/* Our Program Section */
.menu_sections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_sections .header article {
  background-color: rgb(255, 176, 86);
  width: 26rem;
  height: 4rem;
  color: #ffff;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  display: grid;
  place-content: center;
}

/* card Section */
.our_programs_cards {
  display: grid;
  place-items: center;
  row-gap: 2rem;
}

.our_programs_card {
  position: relative;
}

.our_programs_card img {
  height: auto;
  border-radius: 0.8rem;
  border: 2px solid #ffff;
  width: 100%;
}

.our_programs_card_details {
  position: absolute;
  bottom: 0rem;
  /* top: ; */
  margin: 0rem 0.2rem;
  padding: 1.5rem 2rem;
  background: rgba(1, 1, 1, 0.3);
  margin-bottom: 0.3rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  align-content: center;
}

.our_programs_card_details h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffff;
  font-style: italic;
}

.our_programs_card_details p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffff;
  margin-top: 1rem;
}

/* Our Instructors */
/* Style for the tooltip */
.our_instructors_image {
  position: relative;
  cursor: pointer;
}

.our_instructors_image::after,
footer.footer_category_social_media::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  opacity: 0; 
  transition: opacity 0.9s ease; 
  cursor: pointer;
}

.our_instructors_image:hover::after {
  opacity: 1; 
}

.our_instructors_details {
  padding-top: 12vh;
}

.our_instructors_images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

.our_instructors_images #our_instructor_1 {
  position: relative;
  bottom: 4rem;
}

.our_instructors_image {
  background-color: rgb(232, 206, 177);
  border: 0.2rem solid #fff;
  height: 43dvw;
  width: 15rem;
  border-radius: 1rem;
  position: relative;
}

.our_instructors_images .our_instructors_image img {
  position: absolute;
  bottom: -0.4rem;
  right: 1%;
  width: 28dvw;
  height: auto;
}


.article {
  margin: 3rem 0rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3dvh;
}

.article #content p {
 margin-bottom: 3%;
}

.our_instructors_information article span {
  font-weight: 600;
}

/* Our Comunity */
.our_community_information {
  margin: 1rem 0rem;
}

/* Competition and Achievement */
.competition_achievement_images .competition_achievement_images_slider {
  display: grid;
  place-items: center;
  row-gap: 2rem;
}

.competition_achievement_images img {
  width: 100%;
  height: auto;
  transition: transform 0.6s ease-in-out;
  height: 23rem;
  border-radius: 0.3rem;
  /* object-fit: contain; */
  object-fit: cover;
}

.competition_achievement_images img:nth-child(n + 7) {
  display: none;
}

.competition_achievement_images img:hover,
.competition_achievement_images img:nth-child(n + 7):hover {
  transform: scale(1.03);
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}

.competition_achievement_images:hover img:not(:hover),
.competition_achievement_images:hover img:nth-child(n + 7):not(:hover) {
  transform: scale(0.9);
  opacity: 0.7;
  transition: all 0.9s ease-in-out;
}

.competition_images_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.competition_images_button > button {
  margin-top: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgb(254, 152, 32);
  color: #fff;
  font-size: 1.6rem;
  border: 1px solid white;
  border-radius: 0.8rem;
}

.competition_images_button > button:hover {
  cursor: pointer;
  font-size: 1.7rem;
  /* box-shadow: 1rem 1rem 1rem 1rem rgb(184, 219, 128); */
  transition: 0.8s;
}

.hidden {
  display: none;
  transition: all 0.3s ease-in-out;
}

.gallery_section {
  padding: 37% 6% 30% 6%;
  
}

/* Competition Images to be slider */
.competition_achievement_images_popup {
  background-color: rgba(1, 1, 1, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 160rem;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s ease-in-out, visibility 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.competition_achievement_images_popup.active,
.competition_achievement_images_popup.active img,
.competition_achievement_images_popup .prev_slide,
.competition_achievement_images_popup .next_slide {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.competition_achievement_images_popup.active
  .competition_achievement_image_details {
  position: relative;
  max-width: 90vw;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.competition_achievement_images_popup.active
  .competition_achievement_image_details:hover {
  cursor: pointer;
}

.competition_achievement_images_popup.active
  .competition_achievement_image_details
  .competition_achievement_image {
  height: 100%;
  width: 100%;
  border-radius: 0.9rem;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  object-fit: cover;
}

.competition_achievement_images_popup.active
  .competition_achievement_image_details
  .competition_achievement_image
  > img {
  border-radius: 0.6rem;
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 1;
  transition: 1s ease-in-out;
  /* object-fit: cover; */
}

.competition_achievement_images_popup.active
  .competition_achievement_images_control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transition: ease 0.3s;
  cursor: pointer;
}

.competition_achievement_images_popup.active
  .competition_achievement_images_control:hover {
  background-color: rgba(255, 255, 255);
}

.competition_achievement_images_popup.active
  .competition_achievement_images_controls
  .prev_slide {
  left: 6%;
  transform: translate(-50%, -50%);
}

.competition_achievement_images_popup.active
  .competition_achievement_images_controls
  .next_slide {
  right: 6%;
  transform: translate(50%, -50%);
}

/* .competition_achievement_images_slider_image {
  border: 3px solid blue;
}

.competition_achievement_images_slider_image img {
  /* height: 100%; */
/*   
} */ */

/* Competition Images Section Ends Here */

/* Choose Us */
.choose_us_why_title {
  font-size: 2.4rem;
}

.choose_us_why_title p {
  font-size: 2.4rem;
  font-weight: 600;
}

.choose_us_why_title article {
  font-size: 2rem;
}

.head_content p span,
.choose_us_why_title article span,
.hero_section_information .head_content,
.header,
.competition_images_button button,
.choose_us_why_title article {
  font-weight: 500;
  font-family: "Playfair Display", serif !important;
}

.choose_us_card {
  display: grid;
  place-items: center;
  margin: 4rem 0rem 3rem 0rem;
}

.choose_us_card::after {
  content: "";
  height: 0.2rem;
  width: 100%;
  background-color: #000;
}

.choose_us_card .choose_us_card_image img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.choose_us_card_information {
  padding: 0.5rem 0.5rem;
}

.choose_us_card_information .choose_us_card_title {
  font-weight: 600;
  font-size: 1.8rem;
  /* line-height: ; */
}

.choose_us_card_information .choose_us_card_content {
  font-size: 1.7rem;
  font-weight: 400;
}

.choose_us_card_image,
.choose_us_card_information {
  margin-bottom: 1rem;
}

/* Join Us */
.join_us_section a {
  text-decoration: none;
}

.join_us_section .join_us_header {
  display: grid;
  place-items: center;
  background-color: rgb(254, 152, 32);
  padding: 1.8rem 0rem;
  font-size: 2.3rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.join_us_section .join_us_header:hover {
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}

.join_us_content p {
  margin: 3rem 0rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
}

/* Footer */
footer {
  padding: 0;
  position: relative;
  z-index: 12;
}

footer .footer_one,
.footer_two {
  padding: 2rem 1rem;
}

footer .footer_one {
  background-color: rgb(254, 152, 32);
  
}


footer .footer_one #contactUs {
  display: grid;
  place-items: center;
}

footer .footer_one_categories {
  color: #fff;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1.5rem;
}

.footer_one_category .footer_category_title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  position: relative;
  display: inline-block;
}

.footer_one_category .footer_category_title:after {
  content: "";
  display: inline-block;
  height: 0.2rem;
  width: 100%;
  background-color: rgb(254, 231, 201, 0.5);
  position: absolute;
  left: 0;
}

.footer_one_category .footer_category_content p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
}

footer .footer_two {
  background-color: rgb(185, 113, 24);
  text-align: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.5rem;
}

footer .footer_category_social_medias {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  width: fit-content;
  margin-top: 4%;
}

footer .footer_category_social_medias .fa-brands {
  font-weight: 500;
  color: white;
  font-size: 1.8rem;
}

#content {
  max-height: 200px; /* Adjust for desired preview height */
  overflow: hidden;
  position: relative;
}

#content.expanded {
  max-height: none;
  overflow: visible;
}

.competition_images_button {
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}